@font-face {
    font-family: "LemonTea";
    src: url("../assets/fonts/LemonTea.ttf") format("truetype");
}

.about-page {
    background-color: #fbeef5;
    background-image: url("../assets/whitegrid.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: center;
}

.abt {
    background-repeat: no-repeat;
    background-size: 90vw;
    max-width: 100vw;
}

.abt-head {
    background-image: url("../assets/abt-head.png");
    background-position: bottom;
    height: 33.33vh;
}

.abt-base {
    background-image: url("../assets/set-base.png");
    background-repeat: repeat-y;
    background-position: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abt-titles {
    font-family: "LemonTea";
    font-size: 3vh;
    color: #9680a8;
}

.abt-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-creds {
    display: flex;
    flex-direction: column;
}

.abt-p, .creds {
    font-family: "Butterbean";
    font-size: 2.5vh;
    color: #cc6e6c;
}

.creds {
    text-decoration: none;
    color: #E59392;
    margin-bottom: 10px;
    text-align: center;
}

.back-btn {
    height: 5vh;
    align-self: flex-end;
}

.bb {
    height: 100%;
}

.abt-foot {
    background-image: url("../assets/set-foot.png");
    background-position: top;
    height: 33.33vh;
}