@font-face {
    font-family: "LemonTea";
    src: url("../assets/fonts/LemonTea.ttf") format("truetype");
}


.abt {
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 33.33vh; */
    width: 100vw;
}

.abt-head {
    background-image: url("../assets/abt-head.png");
    background-position: bottom;
    height: 33.33vh;
}

.abt-base {
    background-image: url("../assets/set-base.png");
    /* background-repeat: repeat-y; */
    background-position: center;
    min-height: 33.33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elevator {
    width: 50%;
}

.abt-foot {
    background-image: url("../assets/set-foot.png");
    background-position: top;
    height: 33.33vh;
}