@font-face {
    font-family: "LemonTea";
    src: url("../assets/fonts/LemonTea.ttf") format("truetype");
}

@font-face {
    font-family: "Butterbean";
    src: url("../assets/fonts/Butterbean.ttf") format("truetype");
} 

#graphics {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbeef5;
    background-image: url("../assets/whitegrid.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: center;
}

.graphic-text {
    font-family: "Butterbean";
    font-size: 4.7vh;
    color: #E59392;
    margin-bottom: 5vh;
    align-self: center;
    text-align: center;
}

.middle-grp {
    display: flex;
    flex-direction: column;
    width: 80%;
}


.middle-graphics {
    height: 45vh;
    margin-bottom: -10vh;
}

.l {
    align-self: flex-start;
}

.r {
    align-self: flex-end;
}

/* are all things to celebrate and be produ of */
.grp1 {
    width: 80vh;
    margin-top: 10vh;
    align-self: center;
}

/* You're exactly where you need to be */
.grp2 {
    width: 80vw;
    margin: 15vh 0;
}