.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbeef5;
    background-image: url("../assets/whitegrid.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing-img {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/smallbrowser.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    
}


.landing-buttons {
    height: 8%;
    width: 72%;
    margin: auto;
    position: absolute;
    top:65%;
    left: 14%;
    display: none;
    
}

@media screen and (min-width: 1000px) {
    .landing-img {
        background-image: url("../assets/FullLanding.png");
    }

    .landing-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .landing-buttons {
        top: 70%;
        height: 10%;
        
    }
}

.land-but {
    height: 100%;
    margin: 1em;
}

.start-button, .info-button, .settings-button {
    height: 100%;
}